body {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient (to right, #191654, #43c6ac);
    color: rgb(226, 92, 43);
    min-height: 50%;
    text-align: left;
}

header {
    background-color: #1B998B;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

footer {
    background-color: #cbf6e9;
}




.intro {
    max-width: 500px;
    text-align: left;
}

.rounded-corners {
    border-radius: 15px;
    padding: 20px;
    width: 200px;
}